/* sidebar */

.sidebar{
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.3);
    padding: 6px 9px;
    background-color: rgba(0,0,0,0.025);
}

.stocks{
    display: flex;
    flex-direction: column;
}

.stock{
    display: flex;
    flex-direction: row;
    padding: 6px;
    font-size: 12px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.3);
    margin: 3px;
    background-color:white;
}

.stock span{
    margin: 3px;
    padding: 3px;
}

.stock .positive{
    color: green;
}

.stock .negative{
    color: red;
}

.stock .symbol{
    font-weight: bold;
    width: 50px;
}

.stock .company{
    width: 100px;
}

