/* sidebar */

.stocks{
    display: flex;
    flex-direction: column;
}

.stock{
    display: flex;
    flex-direction: row;
    padding: 6px;
    font-size: 12px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.3);
    margin: 3px 0px;
    background-color:white;
}

.stock span{
    margin: 3px;
    padding: 3px;
}

.stock .positive{
    color: green;
}

.stock .negative{
    color: red;
}

.stock .symbol{
    font-weight: bold;
    width: 50px;
}

.stock .company{
    width: 100px;
}


.container-block {
    display: flex;
    margin: 0 auto;
    width: 100%;
    
  }
  
  .content-block {
    flex: 0 0 75%;
  }
  
  .sidebar {
    flex: 0 0 25%;
    padding: 6px 9px;
    
  }

  #signin{
    max-width: 25vw;
    margin: 0 auto;
    border-radius: 3px;
    box-shadow:  20px 20px 60px #eeeeee;
    }

    .submit {
        text-align: center;
    }

    .submit button {
    width: -webkit-fill-available;
    }

  
  
