
@import url('https://fonts.googleapis.com/css?family=Rubik|Source+Sans+Pro&display=swap');

body {
    /* default light theme colors */
    --background-color: rgb(255, 255, 255);
    --text-color: rgb(15, 15, 15);
    --light-color: rgba(197, 197, 197, 0.699);
    --link-color: rgb(110, 116, 177);
    --theme-color: rgb(179, 15, 105);
    --shadow-color: rgb(204, 204, 204);

    background-color: var(--background-color);
    color: var(--text-color);
}

Link {
    color: var(--link-color);;
}

h1{
    font-family: 'Rubik', sans-serif;
    font-size: 28px;
}
h2{
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
}
h3{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}

p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}
.transactions{
    display: flex;
    flex-direction: column;
}

.transaction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 9px;
    margin: 3px;
    border-radius: 3px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}


.expense{
    border: 1px solid var(--shadow-color);
    background-color: var(--background-color);
}

.tr-date{
    width: 10px;
}

.main-container{
    padding: 24px;
}


/* welcome */

.wallpaper{
    background-image: url('../assets/front.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 12px 0px;
}

.split div {
    padding: 12px;
    flex: 0 0 50%;
}

.split .left,
.split.right{
    text-align: center;
} 

p{
    padding: 48px;
}

#signup{
    width: 40%;
    margin: 0 auto;
}

.focused{
    width: 60%;
    margin: 0 auto;
}

.navbar{
    padding: 12px 240px;
}

.neu {
    box-shadow:  20px 20px 50px var(--shadow-color);
}

.category-container{
    font-size: 64px;
    border-radius: 100px;
    padding: 24px;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: 24px;
}
.category-container i{
    text-align: center;
    margin: 6px 0;
}

.category-container span{
    font-size: 16px;
    text-align: center;
}

.payment-container{
    padding: 6px;
    text-align: center;
    margin: 24px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.payment-icon{
    font-size: 32px;
    margin: 0 6px;
}

.padding-icon{
    margin: 0 6px;
}

.details-container{
    margin: 32px 0;
}

.date-container{
    text-align: center;
}

.tr-delete{
    color: var(--theme-color);
    margin: 0 6px;
    cursor: pointer;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.currency-box{
    background: transparent;
    border: none;
}

.currency-box::selection{
    background: transparent;
    border: none;
}







